<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        Indy Bushido has been teaching karate and self defense in Lawrence Township, on the Northeast side of Indianapolis, since 1997.
                        <br><br>
                        We offer family friendly classes, ages 7 - adult. Building character, confidence, discipline and sportsmanship in our students is our priority, while teaching the traditional martial art of Isshinryu Karate.
                        <br><br>
                        Over the years we’ve had the honor of teaching many , dedicated students, (both children and adults) watching them become honest responsible citizens.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1997</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Indianapolis Isshinryu Bushido Club was formed by long-time students of Master John C. Lennox, upon his retirement in 1997.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1997-2009</h4>
                                    <h4 class="subheading">Lawrence Community Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The school operated as a program within Lawrence Community Education for 12 years. At which time all proceeds were given to Lawrence Community Education.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009</h4>
                                    <h4 class="subheading">Transition to an LLC</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The new owner Sensei John Hoffmire, 8th Dan, was a student of Sensei John C. Lennox. The other LLC owners (Sensei Larry Tylenda, 5th Dan and Sensei Shellee Tylenda, 4th Dan), as well as all our other Sensei, are students of Sensei Hoffmire and have trained at Indy Bushido for many years.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                               <h4>
                                    Join<br>our<br>Story!
                               </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>