<style>
    .class {
        background-color: white;
        border: 2px solid gray;
        padding-top: 10px;
        padding-bottom: 40px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .map {
        border: 1px solid gray;
        border-radius: 5px;
    }
</style>

<!-- Clients Aside -->
    <section id="classes" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Classes</h2>
                    <p>Training is based on Isshinryu Karate which is a traditional Okinawan karate style. Our classes are geared in such a way that almost anyone any age can participate if they have the desire. We offer continuing classes with 4 sessions a year: Fall, Winter (Short Session), Spring, and Summer. The location and days change depending on whether or not school is in session.</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Location</h4>
                        <p>
                            Church of Nativity<br>
                            7300 Lantern Rd,<br>
                            Indianapolis, IN 46256
                        </p>
                        <img src="img/classes/summer.png" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h4>Time</h4>
                        <ul>
                            <li>Monday and Thursday evenings from 6:30PM to 7:30PM</li>
                            <li>Open training for intermediate and advanced from 7:35PM until 8:00PM.</li>
                        </ul>
                        <br>
                        <h4>Pricing</h4>
                        <p>Students can do either one or two sessions per week:</p>
                        <ul>
                            <li>$60 for one session per week</li>
                            <li>$100 for two sessions per week</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button type="submit" class="btn btn-xl">View Class Prices</button>
                </div>
            </div>  -->
        </div>
    </section>