<style>
    .class {
        background-color: white;
        border: 2px solid gray;
        padding-top: 10px;
        padding-bottom: 40px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
</style>

<!-- Clients Aside -->
    <section id="classes" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Classes</h2>
                    <p>Training is based on Isshinryu Karate which is a traditional Okinawan karate style. Our classes are geared in such a way that almost anyone any age can participate if they have the desire. We offer continuing classes with 4 sessions a year: Fall, Winter (Short Session), Spring, and Summer. The location and days change depending on whether or not school is in session.</p>
                </div>
            </div>
            <div class="container class">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>During the School Year</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Location</h4>
                        <p>
                            Skiles Test Elementary School<br>
                            7001 Johnson Rd,<br>
                            Indianapolis, IN 46220
                        </p>
                        <img src="img/classes/school_year.png" class="img-responsive">
                        <p>We enter through the back of school on the southside, through the gym doors. We are not connected with Skiles Test Elementary in anyway. We rent an area for classes.</p>
                    </div>
                    <div class="col-md-6">
                        <h4>Time</h4>
                        <ul>
                            <li>Tuesday and Thursday evenings from 6:30PM to 7:30PM</li>
                            <li>Open training for intermediate and advanced from 7:35PM until 8:00PM.</li>
                        </ul>
                        <br>
                        <h5>Snow days</h5>
                        <p>If the school closes due to snow, the facility will be closed and we will not have classes. We always work with students to makeup those days.</p>
                    </div>
                </div>
            </div>
            <div class="container class">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>During the Summer</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Location</h4>
                        <p>
                            Church of Nativity<br>
                            7300 Lantern Rd,<br>
                            Indianapolis, IN 46256
                        </p>
                        <img src="img/classes/summer.png" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h4>Time</h4>
                        <ul>
                            <li>Monday and Thursday evenings from 6:30PM to 7:30PM</li>
                            <li>Open training for intermediate and advanced from 7:35PM until 8:00PM.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-4" style="background-image: url(img/classes/map.png); height: 100%;">
                    <h3>Description</h3>
                    Training is based on Isshinryu Karate which is a traditional Okinawan karate style. Our classes are geared in such a way that almost anyone any age can participate if they have the desire.

We offer continuing classes with 4 sessions a year.
                </div>
                <div class="col-md-4">
                    <h3>Time</h3>
                    <h4>During School Year</h4>
                    <ul>
                        <li>Tuesday and Thursday evenings from 6:30PM to 7:30PM</li>
                        <li>Open training for intermediate and advanced from 7:35PM until 8:00PM.</li>
                    </ul>

                    <h4>During Summer</h4>
                    <ul>
                        <li>Monday and Thursday evenings from 6:30PM to 7:30PM</li>
                        <li>Open training for intermediate and advanced from 7:35PM until 8:00PM.</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Location</h3>
                </div> -->
            </div>
        </div>
    </aside>