{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{{ content }}

.instructors {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.instructors > .instructor {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    background: #f1f1f1;
    margin: 10px;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 400px;
}
